.icon {
	border: none;
	background-color: transparent;
}
.new-blog {
	background-color: tomato;
	padding: 10px 12px;
	color: white;
	border: tomato 2px solid;
}
.new-blog:hover {
	color: tomato;
	background-color: white;
	border: tomato 2px solid;
}
.new-ticket-page {
	margin: 5% 25% 5%;
}
.table-description {
	width: 550px;
}
.table-title {
	width: 300px;
}
